*{
    margin: 0;
}
body{
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
}
input{
    /* color: #ff0; */
    outline: none;
    padding: 3em;
    width: 10em;
    border: 2px solid #ff0;
    border-radius: 10px;
    font-size: medium;

}
label{
    font-size: xx-large;
    color: #ff0;
}
div{
    margin: 10px 0;
    text-align: center;
}
h1{
    color: #ff0;
    text-align: center;
}
button{
    padding: 10px 30px;
    font-size: larger;
    background-color: #ff0;
    border: 0px;
    border-radius: 30px;
}
p{
    color: #ff0;
}
@media (max-width:400px){
    *{
        margin: 0;
        padding: 0;
        /* box-sizing: border-box; */
    }
    input{
        padding: 0.5em;
        width: 2em;
    }
    div.first,div.second{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        width: 93%;
        align-items: center;
        gap: 1px;
        margin: 10px auto;
    }
    h1{
        font-size: 1.3em;
        padding: 10px;
        text-align: center;
    }
    label{
        font-size: 1em;
    }
    div.all{
        text-align: center;
    }
}